.header {
  margin: 0;
  font-family: Arial, sans-serif;
  opacity: 0;
  animation: fadeIn 1s forwards;
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 64px 0;
    &_left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      a {
        /* Logo-M */
        color: rgb(255, 255, 255);
        font-family: IBM Plex Mono;
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }

    &_right {
      display: flex;
      align-items: center;
      gap: 64px;

      &_search {
        display: flex;
        align-items: center;
        border: none;
        gap: 5px;
        padding: 6px 16px 6px 6px;
        border-radius: 24px;
        background: rgb(255, 255, 255);
      }

      &_list {
        display: flex;
        gap: 33px;
        li {
          display: flex;  
          gap: 9px;
        }
        a {
          /* Media-M */
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-transform: capitalize;
          transition: color 0.5s;
          margin-top: 8px;
        }
      }

      &_pages {
        display: flex;
        gap: 32px;

        a {
          /* Menu-M */
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-weight: 400;
          text-transform: capitalize;
          transition: color 0.5s;
        }
        a:hover {
          color: aqua;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
