@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1664px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;


}

body {
  background: rgb(41, 47, 54);
}

p {
  font-family: "IBMPlexMono";
}


// @media(max-width:1360px) {
//   .container {
//     width: 1000px;
//   }
// }
// @media(max-width:1280px) {
//   .container {
//     width: 1000px;
//   }
// }