.about {
  background: rgb(26, 30, 35);
  padding-top: 128px;
  padding-bottom: 128px;
  margin: 0;
  font-family: Arial, sans-serif;
  opacity: 0;
  animation: fadeIn 1s forwards;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    &_bottom {
      display: flex;
      justify-content: space-between;
      gap: 178px;
      padding: 0 64px 0 128px;
      &_left {
        display: flex;
        flex-direction: column;
        gap: 64px;
        &_top {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 367px;
          height: 104px;
          box-sizing: border-box;
          /* Brand 1 */
          border: 4px solid rgb(18, 247, 214);
          border-radius: 40px 0px 40px 0px;
          /* BG 1 */
          background: rgb(41, 47, 54);
          h2 {
            /* H1-U */
            color: rgb(255, 255, 255);
            font-size: 64px;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
        &_bottom {
          display: flex;
          flex-direction: column;
          padding: 24px 40px 24px 40px;
          max-width: 800px;
          width: 100%;
          height: 337px;
          border-radius: 40px;
          /* BG 1 */
          background: rgb(41, 47, 54);
          p {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      &_right {
        width: 462px;
        height: 556px;
      }
    }
    &_top {
      background: rgb(26, 30, 35);
    }
  }
}

span {
  color: rgb(18, 247, 214);
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
